
@{
    ViewBag.Title = "NotAuthenticated";
}
<br />
<br />
<br />
<br />
<div class="well" style="background-color:#ffa64d"><h1>You can only edit your own profile</h1></div>

<div class="well" style="background-color:#ffa64d"><h3>Please return to the employee page and login to complete your request</h3></div>


