@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title</h2>


<Interest>
   


</Interest>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-2">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Join Our Team!</h2><br>

        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe logo slideanim"></span>
            </div>
            <div class="col-sm-8">
                <h2>Follow Us on Social Media!</h2><br>

                <p>
                    <a class="btn btn-warning" href="https://twitter.com/centric">Twitter &raquo;</a>
                    <a class="btn btn-warning" href="https://facebook.com/CentricConsultingNational">Facebook &raquo;</a>
                    <a class="btn btn-warning" href="https://linkedin.com/company/centric-consulting">LinkedIn &raquo;</a>
                    <a class="btn btn-warning" href="https://instagram.com/centricconsulting/">Instagram &raquo;</a>
                    <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-instagram"></a> <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center bg-grey">
        <h2>Our Locations</h2>
        <div class="row text-center">
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Cincinnati.jfif" alt="Cincinnati" width="250" height="250">
                    <p><strong>Cincinnati</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Cleveland.jfif" alt="Cleveland">
                    <p><strong>Cleveland</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Chicago.jfif" alt="Chicago">
                    <p><strong>Chicago</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Charlotte.jfif" alt="Charlotte">
                    <p><strong>Charlotte</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Boston.jfif" alt="Boston">
                    <p><strong>Boston</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Columbus.jfif" alt="Columbus">
                    <p><strong>Columbus</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/StLouis.jfif" alt="St Louis">
                    <p><strong>St. Louis</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Tampa.jfif" alt="Tampa">
                    <p><strong>Tampa</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Miami.jfif" alt="Miami">
                    <p><strong>Miami</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Louisville.jfif" alt="Louisville">
                    <p><strong>Louisville</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/Indianapolis.jfif" alt="Indianapolis">
                    <p><strong>Indianapolis</strong></p>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/images/India.jfif" alt="India">
                    <p><strong>India</strong></p>

                </div>
            </div>
        </div>

