@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title</h2>


<Interest>
    Join Our Team!<br />
    Locations in Boston, Charlotte, Chicago, Cincinatti, Cleveland, Columbus, Inida, Indianapolis, Louisville, Miami, St. Louis, and Tampa<br />
   
   
</Interest>

<address>
    <strong>Follow Us on Social Media:</strong>   <a href="mailto:Support@example.com">Facebook, LinkedIn, Instagram, Twitter</a><br />
</address>