
@{
    ViewBag.Title = "CoreValues";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>
    A Desire to Do and Be Better
</h4>

<h4>
    <br /> Enjoy the people you work with while doing great work  <br />
    <br /> Commit to Delivery Excellence <br />
    <br /> Embrace Integrity and Openness <br />
    <br /> Practice Responsibile Stewardship <br />
    <br /> Strive to Innovate <br />
    <br /> Live a Balanced Life <br />
</h4>

