@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Centric Consulting!</h2>    
    <p class="lead">Centric Consulting strives on being an </p>
    <p><a href="https://www.centricconsulting.com" class="btn btn-warning btn-lg">Learn more about Centric Consulting &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>

        <p><a class="btn btn-warning" href="https://twitter.com/centric">Twitter &raquo;</a></p>
        <p><a class="btn btn-warning" href="https://facebook.com/CentricConsultingNational">Facebook &raquo;</a></p>
        <p><a class="btn btn-warning" href="https://linkedin.com/company/centric-consulting">LinkedIn &raquo;</a></p>
        <p><a class="btn btn-warning" href="https://instagram.com/centricconsulting/">Instagram &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>Commit to Delivery Excellence </p>
        <p>Embrace Integrity and Openness </p>  
        <p>Practice Responsibile Stewardship </p>
        <p>Strive to Innovate </p> 
        <p>Live a Balanced Life </p>
        
        <p><a class="btn btn-warning" href="https://centricconsulting.com/about-us/how-we-work/">Learn more &raquo;</a></p>
    </div>
</div>